./Block_FIR_Implementation/Block_FIR.cache
./Block_FIR_Implementation/Block_FIR.hw
./Block_FIR_Implementation/Block_FIR.ip_user_files
./Block_FIR_Implementation/Block_FIR.runs
./Block_FIR_Implementation/Block_FIR.sim
./Block_FIR_Implementation/*.log

./Block_FIR_Simulation/Block_FIR.cache
./Block_FIR_Simulation/Block_FIR.hw
./Block_FIR_Simulation/Block_FIR.ip_user_files
./Block_FIR_Simulation/Block_FIR.runs
./Block_FIR_Simulation/Block_FIR.sim
./Block_FIR_Simulation/*.log

./Block_LMS_Implementation/BLMS.cache
./Block_LMS_Implementation/BLMS.hw
./Block_LMS_Implementation/BLMS.ip_user_files
./Block_LMS_Implementation/BLMS.runs
./Block_LMS_Implementation/BLMS.sim
./Block_LMS_Implementation/*.log

./Block_LMS_Simulation/BLMS.cache
./Block_LMS_Simulation/BLMS.hw
./Block_LMS_Simulation/BLMS.ip_user_files
./Block_LMS_Simulation/BLMS.runs
./Block_LMS_Simulation/BLMS.sim
./Block_LMS_Simulation/*.log

./FIR_Implementation/project_1/project_1.cache
./FIR_Implementation/project_1/project_1.hw
./FIR_Implementation/project_1/project_1.ip_user_files
./FIR_Implementation/project_1/project_1.runs
./FIR_Implementation/project_1/project_1.sim
./FIR_Implementation/project_1/*.log

./FIR_Simulation/project_1/project_1.cache
./FIR_Simulation/project_1/project_1.hw
./FIR_Simulation/project_1/project_1.ip_user_files
./FIR_Simulation/project_1/project_1.runs
./FIR_Simulation/project_1/project_1.sim
./FIR_Simulation/project_1/*.log

./LMS_Implementation/BLMS.cache
./LMS_Implementation/BLMS.hw
./LMS_Implementation/BLMS.ip_user_files
./LMS_Implementation/BLMS.runs
./LMS_Implementation/BLMS.sim
./LMS_Implementation/*.log

./LMS_Simulation/BLMS.cache
./LMS_Simulation/BLMS.hw
./LMS_Simulation/BLMS.ip_user_files
./LMS_Simulation/BLMS.runs
./LMS_Simulation/BLMS.sim
./LMS_Simulation/*.log








